## Pandas
import pandas as pd

### 建立Data frame

*   pd.DataFrame(字典或陣列資料) #建造data frame

In [1]:
import pandas as pd
 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
 
print("使用字典來建立df：")
print(df)
 
print("=====================")
 
grades = [
    ["Mike", 80, 63],
    ["Sherry", 75, 90],
    ["Cindy", 93, 85],
    ["John", 86, 70]
]
 
new_df = pd.DataFrame(grades)
 
print("使用陣列來建立df：")
print(new_df)

使用字典來建立df：
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=====================
使用陣列來建立df：
        0   1   2
0    Mike  80  63
1  Sherry  75  90
2   Cindy  93  85
3    John  86  70

### 建立一維數據

Series 是 pandas 中, 用於創建一維數據結構的函數.

* pd.Series(data, index, dtype, name, copy, ...)
* data：要创建 pd.Series 的数据。可以是列表、数组、字典、标量等。也可以是另一个 pd.Series 对象。
* index：指定 pd.Series 的索引，即每个数据点对应的标签。索引可以是整数、字符串或其他类型的数据。如果未指定索引，将使用默认索引（从0开始的整数索引）。
* dtype：指定 pd.Series 的数据类型。可以是字符串表示的数据类型（如 'int'、'float'、'object' 等）或 numpy 数据类型（如 np.int32、np.float64 等）。如果未指定，数据类型将根据输入数据自动推断。
* name：指定 pd.Series 的名字（即 Series 对象的名稱屬性）。這是一個可選參數，用於標識 pd.Series 對象。如果不指定，則默認為 None。
* copy：指定是否複製數據。默認為 False，表示在不複製數據的情況下創建 pd.Series。如果設置為 True，則會複製數據，這樣原始數據不會受到 pd.Series 對象的影響。
* ...：還有其他一些可選參數，用於進一步控制 pd.Series 對象的行為，例如排序、對齊、填充缺失值等。

In [8]:
import pandas as pd
import scipy.stats as ss

data = ss.norm.rvs(size = 10, loc = 0, scale = 1)

Ser = pd.Series(data, name = 'normal_data')
Ser

0    1.449442
1    0.635385
2    0.693522
3    1.673857
4   -0.656918
5   -0.587545
6   -0.717706
7   -1.479497
8   -1.265824
9    1.550694
Name: normal_data, dtype: float64

### 提取

*   提取除了最後一行,最後一列以外的

In [2]:
import pandas as pd
 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
df.iloc[0:-1,0:-1]

     name  math
0    Mike    80
1  Sherry    75
2   Cindy    93

### 更改 col 和 row names

*   .index = [rownames]  #更改rownames
*   .columns = [colnames]  #更改colnames

In [3]:
import pandas as pd
 
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
df.index = ["s1", "s2", "s3", "s4"]  #自訂索引值
df.columns = ["student_name", "math_score", "chinese_score"]  #自訂欄位名稱
print(df)

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
s3        Cindy          93             85
s4         John          86             70

### 合併數據
[參考資料](http://violin-tao.blogspot.com/2017/06/pandas-2-concat-merge.html)
1.  pd.concat([df1,df2,...],Parameters) : 
    *   axis : = 0 為直向合併(列合併) ; = 1 為橫向合併(行合併) 。 default 0
    *   ignore_index : = True 可以忽略合併時舊的 index 欄位，改採用自動產生的 index (不管之前如何，都改成0,1,2,...) 。default False
    *   join : 'inner', 'outer' 。
        *   join 模式是 'outer'，會直接把沒有的資料用 NaN 代替
        *   join 模式為 'inner'，會直接把沒有完整資料的刪除掉
        *   default 'outer'

2.  pd.append([df1,df2,...],Parameters) : 

3.  pd.merge(df1,df2, on = 'key',Parameters):
    *   how : 'inner','outer',選擇df 
        *   inner 和 outer 跟 concat 的效果一樣
        *   選擇 df1 或 df2 ，則在多重合併時會依照那個 df 的 key 去合併

    [待補](http://violin-tao.blogspot.com/2017/06/pandas-2-concat-merge.html)

##### pd.concat

In [4]:
import pandas as pd

grades = {
    "name": ["A", "B"],
    "math": [80, 86],
    "chinese": [63, 70]
}
 
df1 = pd.DataFrame(grades)
df1.index = ["s1", "s2"]  #自訂索引值

print("df1:" )
print(df1)

grades = {
    "name": ["A", "B"],
    "math": [50, 30],
    "chinese": [23, 60]
}
 
df2 = pd.DataFrame(grades)
df2.index = ["s2", "s3"]  #自訂索引值

print("df2:" )
print(df2)

print()
print("pd.concat([df1,df2], axis = 0):")
print(pd.concat([df1,df2], axis = 0))

print()
print("pd.concat([df1,df2], axis = 1):")
print(pd.concat([df1,df2], axis = 1))

df1:
   name  math  chinese
s1    A    80       63
s2    B    86       70
df2:
   name  math  chinese
s2    A    50       23
s3    B    30       60

pd.concat([df1,df2], axis = 0):
   name  math  chinese
s1    A    80       63
s2    B    86       70
s2    A    50       23
s3    B    30       60

pd.concat([df1,df2], axis = 1):
   name  math  chinese name  math  chinese
s1    A  80.0     63.0  NaN   NaN      NaN
s2    B  86.0     70.0    A  50.0     23.0
s3  NaN   NaN      NaN    B  30.0     60.0

##### pd.append

In [5]:
#coding=utf-8
import pandas as pd 
import numpy as np 

# concat 的 append 功能
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])

# append 預設是往下加
print("append 預設是往下加")
res = df1.append(df2, ignore_index=True)
print(res)

# append 多個
print("append 多個")
df3 = pd.DataFrame(np.ones((3,4))*3, columns=['a','b','c','d'])
res = df1.append([df2,df3], ignore_index=True)
print(res)

# 直接 append 一組資料
print("直接 append 一組資料")
s1 = pd.Series([1,2,3,4],index=['a','b','c','d'])
res = df1.append(s1, ignore_index=True)
print(res)

append 預設是往下加
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
append 多個
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  3.0  3.0  3.0  3.0
7  3.0  3.0  3.0  3.0
8  3.0  3.0  3.0  3.0
直接 append 一組資料
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0

C:\Users\bluesky\AppData\Local\Temp\ipykernel_1468\1498882070.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res = df1.append(df2, ignore_index=True)
C:\Users\bluesky\AppData\Local\Temp\ipykernel_1468\1498882070.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res = df1.append([df2,df3], ignore_index=True)
C:\Users\bluesky\AppData\Local\Temp\ipykernel_1468\1498882070.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  res = df1.append(s1, ignore_index=True)

##### pd.merge

*   merge by 一個 key

In [6]:
import pandas as pd 
import numpy as np 

left = pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3']})

right = pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']})

res = pd.merge(left,right, on='key')
print(res)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

*   merge by 多個 key

In [7]:
import pandas as pd 
import numpy as np 

left = pd.DataFrame({
    'key1':['K0','K0','K1','K2'],
    'key2':['K0','K1','K0','K1'],
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3']})

right = pd.DataFrame({
    'key1':['K0','K1','K1','K2'],
    'key2':['K0','K0','K0','K0'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']})

1.  inner 模式 : #NaN去掉

In [8]:
res = pd.merge(left,right, on=['key1','key2'])           # 這兩行效果一樣
res = pd.merge(left,right, on=['key1','key2'],how='inner')  # 這兩行效果一樣
print(res)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

2.  outer 模式 : NaN保留

In [9]:
res = pd.merge(left,right, on=['key1','key2'],how='outer')
print(res)

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

3.  right 模式 : 依照 right 的 key

In [10]:
res = pd.merge(left,right, on=['key1','key2'],how='right') #依照right的格式
print(res)

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

4.  left 模式 : 依照 left 的 key

In [11]:
res = pd.merge(left,right, on=['key1','key2'],how='left') #依照right的格式
print(res)

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

### 處理遺失值[dropna, drop, fillna]

<font size = 5>[參考資料](https://blog.csdn.net/dss_dssssd/article/details/82814673)</font>

### DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
*   axis:
    *   axis = 0 : 刪除包含缺失值得row
    *   axis = 1 : 刪除包含缺失值得col, 也可以用columns
*   how : 與 axis 配合使用
    *   how = 'any' : 只要出現缺失值, 就刪除
    *   how = 'all' : 全部都是缺失值才刪除
*   thresh : axis 中至少有 thresh 個不是缺失值, 否則刪除
    *   例如 axis=0，thresh=10：該 row 若<font size = 4>**非**</font>缺失值的數量小於10, 就刪除該row
*   subset : list [colnames]
    *   在哪些col中查看是否有缺失值
*   inplace : 是否在原数据上操作。如果为真，返回None否则返回新的copy，去掉了缺失值

#### python

##### axis

In [76]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 1],
        'B': [4, 5, 6, 1],
        'C': [np.nan, 8, 9, 1]}
df = pd.DataFrame(data)

print('刪除包含缺失值得row :')
print(df.dropna(axis = 0))

print('\n刪除包含缺失值得col :')
print(df.dropna(axis = 'columns'))

刪除包含缺失值得row :
Empty DataFrame
Columns: [A, B, C, E]
Index: []

刪除包含缺失值得col :
   B
0  4
1  5
2  6
3  1

##### how

In [120]:
data = {'A': [1, 2, np.nan, 1],
        'B': [4, 5, 6, 1],
        'C': [np.nan, 8, 9, 1],
        'D': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)

print('只要有缺失值就刪除包含缺失值得col :')
print(df.dropna(axis = 1, how = 'any'))

print('\n都是缺失值才刪除包含缺失值得col :')
print(df.dropna(axis = 1, how = 'all'))

只要有缺失值就刪除包含缺失值得col :
   B
0  4
1  5
2  6
3  1

都是缺失值才刪除包含缺失值得col :
     A  B    C
0  1.0  4  NaN
1  2.0  5  8.0
2  NaN  6  9.0
3  1.0  1  1.0

##### thresh

In [121]:
data = {'A': [np.nan, 2, 1, 1, 1],
        'B': [np.nan, np.nan, 6, 1, 1],
        'C': [np.nan, np.nan, np.nan, 1, 1],
        'D': [np.nan, np.nan, np.nan, np.nan, 1]}
df = pd.DataFrame(data)
print('只要有缺失值就刪除包含缺失值得col :')
print(df.dropna(axis = 1, thresh = 3))

只要有缺失值就刪除包含缺失值得col :
     A    B
0  NaN  NaN
1  2.0  NaN
2  1.0  6.0
3  1.0  1.0
4  1.0  1.0

##### subset

In [122]:
data = {'A': [1, 2, np.nan, 1],
        'B': [4, 5, 6, 1],
        'C': [np.nan, 8, 9, 1],
        'D': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)


print('\n都是缺失值才刪除包含缺失值得col :')
print(df.dropna(subset=['A', 'B']))

都是缺失值才刪除包含缺失值得col :
     A  B    C   D
0  1.0  4  NaN NaN
1  2.0  5  8.0 NaN
3  1.0  1  1.0 NaN

### DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

可以使用 dropna 或 drop 的函數, 差別在於此是直接刪除而非判斷是否有na

*   labels : 要刪除的 row 或 col

#### python

In [124]:
data = {'A': [1, 2, np.nan, 1],
        'B': [4, 5, 6, 1],
        'C': [np.nan, 8, 9, 1],
        'D': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)

print('刪除"B"和"D"的那col :')
print(df.drop(labels = ['B','D'], axis = 1))


print('\n刪除"B"和"D"的那col :')
print(df.drop(columns = ['B','D']))

print('\n刪除索引0,1的那兩row :')
print(df.drop([0,1]))

刪除"B"和"D"的那col :
     A    C
0  1.0  NaN
1  2.0  8.0
2  NaN  9.0
3  1.0  1.0

刪除"B"和"D"的那col :
     A    C
0  1.0  NaN
1  2.0  8.0
2  NaN  9.0
3  1.0  1.0

刪除索引0,1的那兩row :
     A  B    C   D
2  NaN  6  9.0 NaN
3  1.0  1  1.0 NaN

### DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)

*   value : scalar, dict, series, DataFrame
    dict 可以指定每一 row 或 col 用甚麼值填充
*   method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None : 在列上操作
    *   ffill / pad : 使用前一個值來填充缺失值
    *   backfill / bfill : 使用後一個值來填充缺失值
*   limit : 填充的缺失值個數限制

#### python

In [125]:
data = {'A': [np.nan, 2, 1, np.nan, 1],
        'B': [np.nan, np.nan, 6, 1, 1],
        'C': [np.nan, 5, np.nan, 1, np.nan],
        'D': [np.nan, 6, np.nan, np.nan, 1]}
df = pd.DataFrame(data)
print(df)

     A    B    C    D
0  NaN  NaN  NaN  NaN
1  2.0  NaN  5.0  6.0
2  1.0  6.0  NaN  NaN
3  NaN  1.0  1.0  NaN
4  1.0  1.0  NaN  1.0

##### 使用0代替所有缺失值

In [126]:
df.fillna(0)

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  2.0  0.0  5.0  6.0
2  1.0  6.0  0.0  0.0
3  0.0  1.0  1.0  0.0
4  1.0  1.0  0.0  1.0

##### 使用附近的值代替缺失值

In [127]:
print('使用前面的值代替缺失值')
print(df.fillna(method = 'ffill'))

print('\n使用後面的值代替缺失值')
print(df.fillna(method = 'bfill'))

使用前面的值代替缺失值
     A    B    C    D
0  NaN  NaN  NaN  NaN
1  2.0  NaN  5.0  6.0
2  1.0  6.0  5.0  6.0
3  1.0  1.0  1.0  6.0
4  1.0  1.0  1.0  1.0

使用後面的值代替缺失值
     A    B    C    D
0  2.0  6.0  5.0  6.0
1  2.0  6.0  5.0  6.0
2  1.0  6.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  NaN  1.0

##### 每一 col 使用不同的值補充

In [130]:
values = {"A" : 0 , "B" : 1, "C" : 5, "D" : 9}
df.fillna(value = values)

     A    B    C    D
0  0.0  1.0  5.0  9.0
1  2.0  1.0  5.0  6.0
2  1.0  6.0  5.0  9.0
3  0.0  1.0  1.0  9.0
4  1.0  1.0  5.0  1.0

##### 只替換2個缺失值

In [133]:
df.fillna(value = values, limit = 2)

     A    B    C    D
0  0.0  1.0  5.0  9.0
1  2.0  1.0  5.0  6.0
2  1.0  6.0  5.0  9.0
3  0.0  1.0  1.0  NaN
4  1.0  1.0  NaN  1.0

### 檢測+-inf(正負無窮大)

可以使用 np.isinf(df) 去檢視資料是否有inf, 若要依照 row 或 col 去看可以使用 df.any(axis= 0/1)

In [31]:
import numpy as np
import pandas as pd

data = {'A' : [1, 2, 3, np.inf, 5, 6, -np.inf, 8],
        'B' : [9, 10, np.inf, 12, np.inf, 14, 15, 16],
        'C' : [0,0,0,1,1,1,0,1]}
df = pd.DataFrame(data)

print('原始資料:')
print(df)

原始資料:
     A     B  C
0  1.0   9.0  0
1  2.0  10.0  0
2  3.0   inf  0
3  inf  12.0  1
4  5.0   inf  1
5  6.0  14.0  1
6 -inf  15.0  0
7  8.0  16.0  1

In [32]:
print('\n檢測所有資料是否有inf')
print(np.isinf(df))

print('\n檢測是否有 col 有 inf')
check_col = np.isinf(df).any(axis = 0) #任一個row
print(check_col)

print('\n檢測是否有 row 有 inf')
check_row = np.isinf(df).any(axis = 1) #任一個col
print(check_row)

檢測所有資料是否有inf
       A      B      C
0  False  False  False
1  False  False  False
2  False   True  False
3   True  False  False
4  False   True  False
5  False  False  False
6   True  False  False
7  False  False  False

檢測是否有 col 有 inf
A     True
B     True
C    False
dtype: bool

檢測是否有 row 有 inf
0    False
1    False
2     True
3     True
4     True
5    False
6     True
7    False
dtype: bool

#### 捨棄含有 inf 的 row

In [36]:
# 捨棄含有 inf 的 row
df1 = df[ ~ np.isinf(df).any(axis = 1) ]
print(df1)

     A     B  C
0  1.0   9.0  0
1  2.0  10.0  0
5  6.0  14.0  1
7  8.0  16.0  1

### 檢測 dataframe 是否是數字

可以使用 pd.to_numeric() 將 dataframe 的所有資料轉換成數字, 並且把不成功轉換(非數值或字串的數字)的改成特定表示方式.

*   errors='coerce' : 把不能轉換成數字的轉成NaN

In [43]:
import pandas as pd

# 创建一个示例 DataFrame
data = {'A': [1, 2, '3', 'abc', 5],
        'B': ['6', 7, 8, 9, '10']}
df = pd.DataFrame(data)

# 检查 'A' 列是否包含数字
is_numeric = pd.to_numeric(df['A'], errors='coerce').notnull().all() 
# notnull() : not null, 檢測是否是null
# all() : 全部交集
print("col 'A' 是否只包含数字:", is_numeric)

is_numeric = pd.to_numeric(df['B'], errors='coerce').notnull().all() 
print("col 'B' 是否只包含数字:", is_numeric)

col 'A' 是否只包含数字: False
col 'B' 是否只包含数字: True

#### 刪除非數字的row

In [53]:
import pandas as pd

data = {'A': [1, 2, '3', 'abc', 5],
        'B': ['6', 7, 8, 9, '10']}
df = pd.DataFrame(data)

df['A'] = pd.to_numeric(df['A'], errors='coerce') # 先把df['A'] 非數字的改成NaN
df = df.dropna(subset=['A'], how = 'any') # 再刪除 NaN 的那個row
print(df)

     A   B
0  1.0   6
1  2.0   7
2  3.0   8
4  5.0  10

#### 檢測且刪除多個 col 的 row

In [65]:
import pandas as pd

data = {'A': [1  , 2, '3', 'abc', 5],
        'B': ['6', 7, 8, 9, '10'],
        'C': ['a', 11, 12, 13, 14]}
df = pd.DataFrame(data)

for i in df.columns:
    df[i] = pd.to_numeric(df[i], errors = 'coerce')
    df = df.dropna(subset=[i], how = 'any')

df

     A   B     C
1  2.0   7  11.0
2  3.0   8  12.0
4  5.0  10  14.0

### .groupby

In [2]:
import pandas as pd

# 創建示例DataFrame
data = {'col A': ['A', 'B', 'A', 'C', 'B'],
        'col B': ['1', '2', '3', '4', '5']}

df = pd.DataFrame(data)

# 使用groupby和agg合併col B的值
result_df = df.groupby('col A')['col B'].agg(','.join).reset_index()

# 打印合併後的結果
print(result_df)

  col A col B
0     A   1,3
1     B   2,5
2     C     4

In [1]:
import pandas as pd

# 創建示例DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 30]}

df = pd.DataFrame(data)

# 根據 'Category' 列分組並計算平均值
grouped = df.groupby('Category')
result = grouped.mean()

print(result)

              Value
Category
A         18.333333
B         22.500000